<div class="form-container">
    <form [formGroup]="actionForm" class="action-form">
        <div formGroupName="fullName" class="fullName">
            <div class="student-name">
                <label for="name">Имя</label>
                <input type="text" id="name" formControlName="name" autocomplete="off" />
                <div class="mistake-description"
                    *ngIf="actionForm.get('fullName.name')?.invalid && (actionForm.get('fullName.name')?.touched || isInvalid)">
                    Необходимо ввести имя!
                </div>
                <div class="mistake-description" *ngIf="actionForm.controls['fullName'].invalid && actionForm.get('fullName.name')?.valid
                    && (actionForm.get('fullName.secondName')?.valid && actionForm.get('fullName.secondName')?.touched
                        || actionForm.get('fullName.surname')?.valid && actionForm.get('fullName.surname')?.touched)">
                    Имя совпадает с отчеством или фамилией!
                </div>
            </div>

            <div class="student-secondName">
                <label for="secondName">Отчество</label>
                <input type="text" id="secondName" formControlName="secondName" autocomplete="off" />
                <div class="mistake-description"
                    *ngIf="actionForm.get('fullName.secondName')?.invalid && (isInvalid || actionForm.get('fullName.secondName')?.touched)">
                    Необходимо ввести отчество!
                </div>
            </div>

            <div class="student-surname">
                <label for="surname">Фамилия</label>
                <input type="text" id="surname" formControlName="surname" autocomplete="off" />
                <div class="mistake-description"
                    *ngIf="actionForm.get('fullName.surname')?.invalid && (isInvalid || actionForm.get('fullName.surname')?.touched)">
                    Необходимо ввести фамилию!
                </div>
            </div>
        </div>

        <div class="student-birthDate">
            <label for="birthDate">Дата рождения</label>
            <input type="date" id="birthDate" formControlName="birthDate" />
            <div class="mistake-description"
                *ngIf="actionForm.controls['birthDate'].invalid && (isInvalid || actionForm.controls['birthDate'].touched)">
                Дата рождения должна быть позднее {{date | date:'dd.MM.yyyy'}}!
            </div>
        </div>

        <div class="student-avgMark">
            <label for="avgMark">Средний балл</label>
            <input type="number" step="0.1" id="avgMark" formControlName="avgMark" />
            <div class="mistake-description"
                *ngIf="actionForm.controls['avgMark'].invalid && (actionForm.controls['avgMark'].touched)">
                Введите средний балл!
            </div>
        </div>
        <div class="action">
          <button class="action_item" (click)="ok()">Ок</button>
          <button class="action_item" (click)="close()">Отмена</button>
        </div>
    </form>
</div>
