.container{
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

label{
  font-size: 1.1em;
  color: #003B46;
}

.label_container{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0, .2);
  transition: 0.5s;
  position: relative;
}

input:checked[type="checkbox"] {
  background: #07575B;
}
input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0, .2);
  transition: 0.5s;
}
input:checked[type="checkbox"]::before {
  left: 20px;
}

.content-table {
  cursor: pointer;
  border-collapse: collapse;
  margin: 2em auto;
  font-size: 1.1em;
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.15);
  text-align: left;
}

.content-table thead tr{
  background-color: #07575B;
  color: #FFFF;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 1em 1.5em;
}

.content-table tbody tr {
  padding: 1em 2em;
  border-bottom: 0.09em solid #dddd;
  color: #003B46;
  font-size: 1.1em;
  background-color: #ffff;
}

.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #07575B;
}

th{
  cursor: pointer;
}

button {
  background-color: #07575B;
  font-size: 1.1em;
  color: #CDBEA7;
  border: 0.09em solid #07575B;
  border-radius: 1em;
  padding: 0.5em 2em;
}

.button_delete{
  background-color: #FA5B58;
  border: 0.09em solid #FA5B58;
  color: #003B46;
}

button:hover,
input[type="number"]:hover {
  background-color: #CDBEA7;
  color: #07575B;
}

button:active,
button:focus,
input[type="number"] {
  outline: none;
}

input[type="text"], input[type="date"]{
  font-size: 1.1em;
  color: #003B46;
  padding: 0.5em 0 0.5em 1em;
  border: 1px solid #cecece;
  background: #F6F6f6;
  border-radius: 8px;
  outline: none;
}

.filter{
  margin: 2em auto;
}

.filter_item{
  margin-bottom: 2em;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

span{
  font-size: 1.1em;
  color: #003B46;
}

.average-mark {
  background-color: #FA5B58;
  color: #003B46;
}

.found-student {
  background-color: #CDBEA7;
  color: #003B46;
}

.selected {
  background-color: #66A5AD;
  color: #ffff;
}
