<body>
  <div class = "container">
    <div>
      <label class = "label_container">
        <div>
          <span>< "3"</span>
        </div>
        <div>
          <input type="checkbox" [checked]="checkAvgMark" (change)="checkAvgMark = !checkAvgMark">
        </div>
      </label>
    </div>
    <div>
      <input #studentName  type="text" (keyup)="update()" placeholder = "Поиск студента">
    </div>
  </div>

  <table class="content-table table" make-sortable>
    <thead>
    <tr>
      <th (click)="sortData('id')" class="coll">№</th>
      <th (click)="sortData('surname')" class="coll" >Фамилия</th>
      <th (click)="sortData('firstName')" class="coll" >Имя</th>
      <th (click)="sortData('secondName')" class="coll" >Отчество</th>
      <th (click)="sortData('date')" class="coll" >Дата рождения</th>
      <th (click)="sortData('avgMark')" class="coll" >Средний балл</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td
        [class.selected] = "student === selectedStudent"
        (click)="selectedStudent = student; checkSelected()"
        [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
        [class.found-student] = "checkData(student, studentName.value)">
        {{student.id}}
      </td>
      <td [class.selected] = "student === selectedStudent"
          (click)="selectedStudent = student; checkSelected()"
          [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
          [class.found-student] = "checkData(student, studentName.value)">
        {{student.surname}}
      </td>
      <td [class.selected] = "student === selectedStudent"
          (click)="selectedStudent = student; checkSelected()"
          [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
          [class.found-student] = "checkData(student, studentName.value)">
        {{student.firstName}}
      </td>
      <td [class.selected] = "student === selectedStudent"
          (click)="selectedStudent = student; checkSelected()"
          [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
          [class.found-student] = "checkData(student, studentName.value)">
        {{student.secondName}}
      </td>
      <td [class.selected] = "student === selectedStudent"
          (click)="selectedStudent = student; checkSelected()"
          [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
          [class.found-student] = "checkData(student, studentName.value)">
        {{student.date | date:'dd.MM.yyyy'}}
      </td>
      <td [class.selected] = "student === selectedStudent"
          (click)="selectedStudent = student; checkSelected()"
          [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
          [class.found-student] = "checkData(student, studentName.value)">
        {{student.avgMark}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class = "filter">
    <div class = "filter_item">
      <label>
        Фильтр: дата рождения (младше даты)
        <input #dateFilter type="date">
      </label>
      <button
        (click)="filterStudentsDate(dateFilter.valueAsDate)"
      >Фильтровать</button>
    </div>
    <div class = "filter_item">
      <div>
        <label>
          Фильтр: средняя оценка (оценка выше)
          <input #markFilter type="text">
        </label>
      </div>
      <div>
        <button
          (click)="filterStudentsMark(markFilter.value) "
        >Фильтровать</button>
      </div>
    </div>
  </div>

  <div class = "filter_item">
    <button class="delete" (click)="deleteStudent(selectedStudent.id)">
      Удалить выбранного студента</button>
  </div>

  <div class="popup" *ngIf="isPopupVisible">
    <div class="popup-message">
      <span>Вы уверены, что ходите удалить {{selectedStudent.firstName}} {{selectedStudent.surname}} из таблицы?</span>
      <div class="popup-buttons">
        <button (click)="closePopup(true)">Да</button>
        <button (click)="closePopup(false)">Нет</button>
      </div>
    </div>
  </div>

  <div class="popup" *ngIf="isPopupErrorVisible">
    <div class="popup-message">
      <span>Выберите, пожалуйста, студента для редактирования.</span>
      <div class="popup-buttons">
        <button (click)="closeErrorPopup()">Хорошо</button>
      </div>
    </div>
  </div>
  <button class="edit" (click)="editStudent(selectedStudent)">Редактировать выбранного студента</button>
  <button class="addNewStudent" (click)="addNewStudent()">Добавить студента</button>
  <app-form *ngIf="isAddEditForm" [student]="student" [(isAddEditForm)]="isAddEditForm" (onClick)="closeForm($event)"></app-form>
</body>
