<body>
<div class = "container">
  <div>
    <label class = "label_container">
      <div>
        <span>< "3"</span>
      </div>
      <div>
        <input type="checkbox" [checked]="checkAvgMark" (change)="checkAvgMark = !checkAvgMark">
      </div>
    </label>
  </div>
  <div>
    <input #studentName  type="text" (keyup)="update()" placeholder = "Поиск студента">
  </div>
</div>

<table class="content-table table">
  <thead>
  <tr>
    <th (click)="sortData('id')" class="coll">№</th>
    <th (click)="sortData('surname')" class="coll" >Фамилия</th>
    <th (click)="sortData('firstName')" class="coll" >Имя</th>
    <th (click)="sortData('secondName')" class="coll" >Отчество</th>
    <th (click)="sortData('date')" class="coll" >Дата рождения</th>
    <th (click)="sortData('avgMark')" class="coll" >Средний балл</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let student of Students">
    <td
      [class.found-student] = "checkData(student, studentName.value)"
      [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
      [class.selected] = "student === selectedStudent"
      (click)="selectedStudent = student">

      {{student.id}}</td>
    <td  [class.found-student] = "checkData(student, studentName.value)"
         [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
         [class.selected] = "student === selectedStudent"
         (click)="selectedStudent = student">
      {{student.surname}}</td>
    <td [class.found-student] = "checkData(student, studentName.value)"
        [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
        [class.selected] = "student === selectedStudent"
        (click)="selectedStudent = student">
      {{student.firstName}}</td>
    <td [class.found-student] = "checkData(student, studentName.value)"
        [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
        [class.selected] = "student === selectedStudent"
        (click)="selectedStudent = student">
      {{student.secondName}}</td>
    <td [class.found-student] = "checkData(student, studentName.value)"
        [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
        [class.selected] = "student === selectedStudent"
        (click)="selectedStudent = student">
      {{student.date.toDateString()}}</td>
    <td [class.found-student] = "checkData(student, studentName.value)"
        [class.average-mark] = "student.avgMark < 3 && checkAvgMark"
        [class.selected] = "student === selectedStudent"
        (click)="selectedStudent = student">
      {{student.avgMark}}</td>
  </tr>
  </tbody>
</table>

<div class = "filter">
  <div class = "filter_item">
    <label>
      Фильтр: дата рождения (младше даты)
      <input #dateFilter type="date">
    </label>
    <button
      (click)="filterStudentsDate(dateFilter.valueAsDate)"
    >Фильтровать</button>
  </div>
  <div class = "filter_item">
    <div>
      <label>
        Фильтр: средняя оценка (оценка выше)
        <input #markFilter type="text">
      </label>
    </div>
    <div>
      <button
        (click)="filterStudentsMark(markFilter.value) "
      >Фильтровать</button>
    </div>
  </div>
  <div class = "filter_item">
    <button (click)="refreshData()">Убрать фильтры</button>
  </div>
  <div class = "filter_item">
    <button class="delete" (click)="deleteStudent(selectedStudent.id)">
      Удалить выбранного студента</button>
  </div>

  <div class="popup" *ngIf="isPopupVisible">
    <div class="popup-message">
      <span>Вы уверены, что ходите удалить {{selectedStudent.firstName}} {{selectedStudent.surname}} из таблицы?</span>
      <div class="popup-buttons">
        <button (click)="closePopup(true)">Да</button>
        <button (click)="closePopup(false)">Нет</button>
      </div>
    </div>
  </div>
</div>
</body>
